@font-face {
  font-family: 'Droid Sans';
  font-style: normal;
  font-weight: 400;
  src: local("Droid Sans"), url(/fonts/Droid_Sans/DroidSans.ttf) format("ttf"); }
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  src: local("Ubuntu"), url(/fonts/Ubuntu/Ubuntu-Regular.ttf) format("ttf"); }
* {
  padding: none;
  margin: none; }

html {
  background-color: #141414;
  color: white; }

body {
  font-family: "Ubuntu", "sans-serif";
  text-align: center; }

h1 {
  font-family: "Droid Sans", "sans-serif"; }
