// Google fonts
@import url(http://fonts.googleapis.com/css?family=Droid+Sans);
@import url(http://fonts.googleapis.com/css?family=Ubuntu);

$basebcolor: rgb(20,20,20);
$basecolor: white;

// MUST use font-weight 100 (Lato)
$headFont: 'Droid Sans', 'sans-serif';
$bodyFont: 'Ubuntu', 'sans-serif';

*{
	padding: none;
	margin: none;
}

html{
	// color scheme
	background-color: $basebcolor;
	color: $basecolor;
}
body{
	// font
	font-family: $bodyFont;
	// sort of tacky now, but whatevs
	text-align: center;
}
h1{
	// font
	font-family: $headFont;
}