// import a google font
@import url(http://fonts.googleapis.com/css?family=Ubuntu);

$basebcolor: rgb(20,20,20);
$basecolor: white;
$font: 'Ubuntu', 'sans-serif';

html{
	// color scheme
	background-color: $basebcolor;
	color: $basecolor;
	
	// sort of tacky now, but whatevs
	text-align: center;
	
	// font
	font-family: $font;
}