@import url(http://fonts.googleapis.com/css?family=Droid+Sans);
@import url(http://fonts.googleapis.com/css?family=Ubuntu);
* {
  padding: none;
  margin: none; }

html {
  background-color: #141414;
  color: white; }

body {
  font-family: "Ubuntu", "sans-serif";
  text-align: center; }

h1 {
  font-family: "Droid Sans", "sans-serif"; }
