// Google fonts
@import url(http://fonts.googleapis.com/css?family=Ubuntu);


$basebcolor: rgb(20,20,20);
$basecolor: white;

// MUST use font-weight 100 (Lato)
$fontstack: 'Ubuntu', 'sans-serif';

*{
	padding: none;
	margin: none;
}

html{
	// color scheme
	background-color: $basebcolor;
	color: $basecolor;
}
body{
	// font
	font-family: $fontstack;
	// sort of tacky now, but whatevs
	text-align: center;
	padding-top: 50px;
}
h1{
	// font
	font-family: $fontstack;
}
