// Imports Google Fonts CSS for Ubuntu Font
@import url("http://fonts.googleapis.com/css?family=Ubuntu");

$fontstack: "Ubuntu", sans-serif;

*{
	padding: 0;
	margin: 0;
}

body{
	max-width: 750px;
	padding: 0 20px;
	margin: auto;
	padding-top: 20px;
	font-family: $fontstack;
}
h1{
	font-weight: 800;
	font-size: 36px;
	margin: 5px 0;
	margin-bottom: 40px;
}
article{
	margin-top: 15px;
	p{
		margin: 5px 0;
		font-size: 14px;
	}
}

a, a:visited{
	color: #4183C4;
	text-decoration: none;
	transition: all .2s ease;
}
a:hover{
	color: rgb(90, 160, 210);
}

#issue{
	$issuew: 200px;
	background-color: rgb(240,240,240);
	padding: 5px 10px;
	border-radius: 5px;
	overflow: hidden;
	max-height: 20px;
	transition: ease 0.5s all;
	width: $issuew;
	#report{
		cursor: pointer;
	}
	textarea{
		font-family: $fontstack;
		font-size: 12px;
		border-radius: 5px;
		border: 0;
		outline: none;
		resize: none;
		width: $issuew;
		margin: 10px 0;
		padding: 5px;
		border-style: solid;
		border-width: 1px;
		border-color: transparent;
		transition: ease 0.5s all;
	}
	button{
		width: $issuew / 2;
		outline: none;
		color: white;
		background-color: rgb(90, 160, 210);
		border: 0;
		padding: 5px;
		border-radius: 5px;
		cursor: pointer;
	}
}
#issue:hover{
	max-height: 120px;
}