@import url("http://fonts.googleapis.com/css?family=Ubuntu");
* {
  padding: 0;
  margin: 0; }

body {
  max-width: 750px;
  padding: 0 20px;
  margin: auto;
  padding-top: 20px;
  font-family: "Ubuntu", sans-serif; }

h1 {
  font-weight: 800;
  font-size: 36px;
  margin: 5px 0;
  margin-bottom: 40px; }

article {
  margin-top: 15px; }
  article p {
    margin: 5px 0; }

a, a:visited {
  color: #4183C4;
  text-decoration: none;
  transition: all .2s ease; }

a:hover {
  color: #5aa0d2; }

#issue {
  width: 200px; }
  #issue textarea {
    font-family: "Ubuntu", sans-serif;
    border-radius: 5px;
    border: 0;
    outline: none;
    resize: none;
    width: 200px; }
  #issue button {
    width: 100px;
    outline: none; }
