// Imports Google Fonts CSS for Ubuntu Font
@import url("http://fonts.googleapis.com/css?family=Ubuntu");

$fontstack: "Ubuntu", sans-serif;

*{
	padding: 0;
	margin: 0;
}

body{
	max-width: 750px;
	padding: 0 20px;
	margin: auto;
	padding-top: 20px;
	font-family: $fontstack;
}

#begin{
	font-weight: 800;
	font-size: 36px;
	margin: 5px 0;
	margin-bottom: 40px;
}
#end{
	font-weight: 800;
	font-size: 36px;
	margin: 5px 0;
	margin-top: 40px;
}

article{
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 20px;
	p{
		margin: 10px 0;
		font-size: 15px;
	}
}

a, a:visited{
	cursor: pointer;
	color: #4183C4;
	text-decoration: none;
	transition: all .2s ease;
}
a:hover{
	color: rgb(90, 160, 210);
}