// Imports Google Fonts CSS for Ubuntu Font
@import url("http://fonts.googleapis.com/css?family=Ubuntu");

$fontstack: "Ubuntu", sans-serif;

body{
	max-width: 750px;
	margin: auto;
	padding-top: 20px;
	font-family: $fontstack;
}

h1{
	font-weight: 800;
	font-size: 36px;
	margin: 10px 0;
	margin-bottom: 40px;
}
p{
	max-width: 750px;
	margin: 10px 0;
}

a, a:visited{
	color: #4183C4;
	text-decoration: none;
	transition: all .2s ease;
}
a:hover{
	color: rgb(90, 160, 210);
}