// Imports Google Fonts CSS for Ubuntu Font
@import url("http://fonts.googleapis.com/css?family=Ubuntu");

$fontstack: "Ubuntu", sans-serif;

*{
	padding: 0;
	margin: 0;
}

body{
	background-color: rgb(245, 245, 245);
	max-width: 750px;
	padding: 0 10%;
	margin: auto;
	padding-top: 20px;
	font-family: $fontstack;
}

#begin{
	color: rgba(200, 200, 200, 0.5);
	font-weight: 800;
	font-size: 36px;
	margin: 5px 0;
	margin-left: -5%;
	margin-bottom: 40px;

}
#end{
	color: rgba(200, 200, 200, 0.5);
	font-weight: 800;
	font-size: 36px;
	margin: 5px 0;
	margin-left: -5%;
	margin-top: 40px;
}

article{
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 20px;
	p{
		margin: 10px 0;
		font-size: 15px;
	}
}

a, a:visited{
	cursor: pointer;
	color: #4183C4;
	text-decoration: none;
	transition: all .2s ease;
}
a:hover{
	color: rgb(90, 160, 210);
}

#buttons {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	margin-bottom: 10px;
	div {
		padding: 2px;
		margin: 5px;
		color: #4183C4;
		//border-width: 0px;
		//border-left-width: 5px;
		//border-style: solid;
		//border-color: rgb(100,100,100);
		display: inline;
		cursor: pointer;
	}
	#num {
		color: rgba(200, 200, 200, 0.5);;
	}
}